.smt-container {
    display: block;
    position: fixed;
	top: 0;
    z-index: 70;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
	opacity: 0;
	-webkit-transition: transform 0.6s ease;
	transition: transform 0.6s ease;
}  

.smt-container-absolute {
    position: absolute;
}

.smt-wrapper {
    position: relative;
    width: 100%;
}

.smt-wrapper-img {	
	width: 100%;
	display: inherit;
}

.smt-wrapper-content {
    background-color: #d5e9c1;
    padding: 40px 80px 40px 30px;
	position: relative;
}

.smt-wrapper-h2 {
    font-family: 'Credit Suisse Headline', 'CSTypeEP', 'Arial', 'Helvetica', 'SansSerif';
	font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}

.smt-wrapper-p {
    margin-bottom: 25px;
}

.smt-wrapper .a-primary-button {font-weight:700;height:50px;width:auto;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative;padding:0 26px;overflow:hidden;cursor:pointer;color:#fff;background-color:#000;text-align:center;text-decoration:none;white-space:nowrap;border:0;transition:all .3s ease 0}

.smt-wrapper .a-primary-button:hover {
    color: #fff;
    background-color: #575756;
    text-decoration: none;
}

.smt-wrapper-cta svg {
    margin-left: 15px;
    width: 16px;
    height: 16px;
	fill: currentColor;
}

.smt-wrapper-close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media (max-width: 1281px) {
	  
	.smt-wrapper-h2 {
		font-size: 26px;
	}
	  
	.smt-wrapper-content {
        padding: 25px 60px 25px 25px;
    }	
}

@media (max-width: 375px) {

	.smt-wrapper .a-primary-button {
		font-size: 14px;		
	}
	
	.smt-container-absolute {
		position: fixed;
		width: 100%;
	}
}